{% extends "base.html.twig" %}

{% block title 'About Us | ' ~ parent() %}

{% block body %}
    <img src="{{ asset('/images/image2.png') }}" alt="YassinDEV logo" width="300px" class="my-12 rounded-full shadow-md">
    <h1 class="text-gray-700 text-lg">Built with <span class="text-pink-500">&hearts;</span> by <a class='text-yellow-500 hover:text-green-600 underline' href="https://www.youtube.com/c/CodeOuvert" target="_blank">Code Ouvert</a> (Yassin El Kamal NGUESSU)</h1>
    <p class="mt-5">
        <a href="{{ path('app_home') }}" class='text-yellow-500 hover:text-green-600 underline'>Return to the home page</a>
    </p>
{% endblock %}